version: '3.7'

services:
  day31-airflow-init:
    image: apache/airflow:2.5.1
    container_name: day31_airflow_init
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/db/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./tests:/opt/airflow/tests
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./db:/opt/airflow/db
    command: db init

  day31-webserver:
    image: apache/airflow:2.5.1
    container_name: day31_airflow_webserver
    depends_on:
      - day31-airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/db/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./tests:/opt/airflow/tests
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./db:/opt/airflow/db
    ports:
      - "9090:8080"
    command: webserver

  day31-scheduler:
    image: apache/airflow:2.5.1
    container_name: day31_airflow_scheduler
    depends_on:
      - day31-airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/db/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./tests:/opt/airflow/tests
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./db:/opt/airflow/db
    command: scheduler
